body {
  color: #202020;//#3b4252;
  background: {
    color: #fefefe;
  }

  font: {
    family: 'Roboto Mono';
  }

  line-height: 1.5;
}

header {
  color: #000;//#03A678;
  font: {
    family: 'Roboto Slab';
  }
  @media screen and (max-width: 600px) {
    text: {
      align: center;
    }
  }
}

h1,
h2,
h3,
h4 {
  font: {
    weight: 400;
  }
}

strong {
  font: {
    weight: 500;
  }
}

h2{
  font: {
    size: 2em;
  }
}

.main {
  margin: 0 15px;

  &__header {
    height: 50px;
    text: {
      align: center;
      transform: uppercase;
    }
    h1{
      font: {
        size: 1em;
      }
      line-height: 50px;
      margin: 0;
    }
  }
}

*:disabled{
  opacity: .5;
  pointer-events: none;
}

@import "../components/form";
@import "../components/boutique";
@import "../components/boutiqueCard";